<!DOCTYPE html>
<htmll lang="en-US">

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="C:/Users/Jonah Min/Desktop/Python Projects/homepage/home.css">
<script src="C:/Users/Jonah Min/Desktop/Python Projects/homepage/homescript.js"></script>

<body>



<div id="face-img">
	<img src="C:/Users/Jonah Min/Desktop/Python Projects/homepage/face.jpg" width="200" height="200" id="face">
</div>

<div id="header">
	<h1 id="name">Jonah Min</h1>
</div>

<div id="body" ng-app>

	<div id="buttons" class='{{category}}' ng-click="$event.preventDefault()">

		<button href="#" class="button" ng-click="category='about me'">About Me</button>
		<button href="#" class="button" ng-click="category='projects'">Projects</button>
		<button href="#" class="button" ng-click="category='resume'">Resume</button>
		<button href="#" class="button" ng-click="category='contact me'">Contact Me</button>

		<p ng-show='category'>{{category}}</p>

	</div>

</div>

<div id="footer">
	
	<div id="information">
		<p class='footertxt'>I didn't know what to put in the footer... Hi there!!</p>
	</div>

</div>

</body>
</html>