body {
	height: 100%;
	min-height: 100%;
}

h1 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 50pt;
	color: #282e29;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

#face2 {
	border-radius: 50%;
	border: 7px solid #475148;
}

#image1 {
	vertical-align: middle;
	display: inline-block;
	float: left;
	height: 300px;
	margin-left: 0px;
	margin-top: 40px;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#text1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 18pt;
	font-family: 'Slabo 27px', serif;
	color: #282e29;
	text-align: left;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

#text1box {
	display: inline-block;
	vertical-align: middle;
	height: 400px;
	width: 50%;
	margin-left: 100px;
	margin-bottom: 50px;
}

#firstblock {
	width: 100%;
	height: 400px;
	background-color: #e0e3e0
	vertical-align: middle;
}

#secondblock {
	display: inline-block;
	width: 100%;
	height: 400px;
	background-color: #6d97a8;
}

#image2 {
	float: right;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 150px;
	margin-top: 50px;
	border: 7px solid #f6f1ed;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

#text2box {
	display: inline-block;
	vertical-align: middle;
	height: 400px;
	width: 50%;
	margin-left: 100px;
	margin-top: 135px;
}

#text2 {
	display: inline-block;
	vertical-align: middle;
	font-size: 18pt;
	font-family: 'Slabo 27px', serif;
	color: #e3e3e3;
	text-align: left;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

 #thirdblock {
	display: inline-block;
	width: 100%;
	height: 400px;
	background-color: #677077;
}

#image3 {
	float: left;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 150px;
	margin-top: 50px;
	border: 7px solid #e0e3e0;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

#text3box {
	display: inline-block;
	vertical-align: middle;
	height: 400px;
	width: 50%;
	margin-left: -30px;
}

#text3 {
	margin-top: 135px;
	display: inline-block;
	vertical-align: middle;
	font-size: 18pt;
	font-family: 'Slabo 27px', serif;
	text-align: left;
	color: #e0e3e0;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

